.search-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 3rem;
    flex: 1 0 30%;
    cursor: pointer;

    &__title {
        width: 320px;
        align-self: center;
    }

    &__thumbnail {
        align-self: center;
        border-radius: 200px;
        transition: 0.3s;
        opacity: 0.5;
    }
    
    &:hover {
        .search-item {
            &__thumbnail {
                opacity: 1;
                border-radius: 50px;
            }
        }
    }
}